<mdb-navbar
  SideClass="navbar navbar-expand-lg fixed-top navbar-light white" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="navbar-brand" href="http://thebuffalogroup.com/">
          <img src="./assets/images/TheBuffaloGroup.png" class="image-brand">
      </a>
    </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/home" >Home</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
          <a routerLink="/scorecard" class="nav-link">Scorecard</a>
      </li>
    </ul>
    <form class="form-inline waves-light" mdbWavesEffect>
      <input class="form-control mr-sm-2" type="text" placeholder="Username" />
      <input class="form-control mr-sm-2" type="password" placeholder="Password" />
      <button class="btn btn-success btn-md my-2 my-sm-0" type="submit">Login</button>
    </form>
  </links>
</mdb-navbar>

