
.image-brand {
    padding: 0 !important;
    margin: -10px 50px -10px 0px; 
    /* width: 200px !important; */
    height: 60px !important;
  } 

  img {
    vertical-align: top;
  }

   .navbar {
      background-color: #ffffff !important;
      border-radius: 0px !important;
        list-style-type: none;
        max-height: 60px !important;
        margin-right: 0 !important;
      }
    
  
  .navbar .nav-link {
    transition: 0.5s ease;
    font-size: 110%;
    font-weight: 800;
    text-decoration: none;
    padding: 12px 0;
    margin: 0 20px;
}

.navbar-nav {
  font-weight: 600;
  font-size: 110%;
  text-transform: uppercase;
}


.form-inline {
  float: right;
  /* margin-right: -80px; */
}

.navbar .nav-link:hover {
    color: white;
}
.active {
    color:white !important;
}

.navbar li img {
    vertical-align: top;
    width: 200px;
    height: 60px;
    margin-top: -15px;
    padding-right: 20px;
  } 

  
  .btn-success {
    background-color: #5ab2ca !important;
    }

  li { 
      border-left: 1px solid #000000;
      border-right: 1px solid #000000;
      height: 40px !important;
      padding: 0 30px;
      
  }
 

  .navbar-nav .nav-item .nav-link {
    color:#333333;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    background-color: #ffffff;
    color:#5ab2ca;
}

.form-control {
  width: 10em;
}


@media only screen and (max-width: 768px) {
  .image-brand {
      padding: 0 !important;
      margin-left: 0px;
      height: 50px !important;
    } 

    .form-control {
        width: 7em;
      }
      .btn-success {
        margin-right: 0 !important;
      }
  
}