<section class="section-2">
  <div class="container">
    <a class="iDDEA-logo"
      ><img class="iDDEA-logo" src="./assets/images/iDEEA.png"
    /></a>
    <div class="row">
      <div class="col-md-10 offset-md-2 mb-3">
        <p class="leed animated slideInUp">
          “<span class="em-primary">iDEEA</span> paves a path for the
          introduction of the
          <span class="em-primary">niche, unique, and best-of-breed</span>
          capabilities to advance the
          <span class="em-primary">Defense Intelligence Enterprise</span> and
          <span class="em-primary">warfighter mission</span>.”
        </p>
        <p class="leed animated slideInUp chief">
          – Chief Technology Officer, TBG
        </p>
      </div>
    </div>
  </div>
</section>

<section class="main mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mt-4">
        <!-- Carousel Wrapper -->
        <mdb-carousel
          [isControls]="true"
          class="carousel slide carousel-fade"
          [animation]="'fade'"
        >
          <!-- First slide -->
          <mdb-slide>
            <div class="view hm-black-slight">
              <img
                class="d-block w-100"
                src="./assets/images/scorecard-5.jpg"
                alt="First slide"
              />
              <div class="mask waves-light" mdbRippleRadius></div>
            </div>
          </mdb-slide>
          <!-- /First slide -->
          <!-- Second slide -->
          <mdb-slide>
            <div class="view hm-black-slight">
              <img
                class="d-block w-100"
                src="./assets/images/scorecard-2.png"
                alt="Second slide"
              />
              <div class="mask waves-light" mdbRippleRadius></div>
            </div>
          </mdb-slide>
          <!-- /Second slide -->
          <!-- Third slide -->
          <mdb-slide>
            <div class="view hm-black-strong">
              <img
                class="d-block w-100"
                src="./assets/images/scorecard-3.jpg"
                alt="Third slide"
              />
              <div class="mask waves-light" mdbRippleRadius></div>
            </div>
          </mdb-slide>
          <!-- /Third slide -->
        </mdb-carousel>
        <!-- /.Carousel Wrapper -->
      </div>
      <div class="col-sm-12 col-md-6">
        <!--
          <h2 class="page-header"><span class="em-primary">What</span> We do</h2>
        -->
        <div class="row pb-2 mt-2">
          <div class="col-2 col-md-1">
              <i class="fa fa-mail-forward fa-4 indigo-text"></i>
          </div>
          <div class="col-10">
              <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Solutions</h5>
              <p class="grey-text text-left">The mission of the DEEA task order is to provide top notch agile development, sustainment, operations & maintenance in support of the warfighter mission.</p>
          </div>
      </div>
      <div class="row pb-2">
        <div class="col-2 col-md-1">
            <i class="fa fa-mail-forward fa-4 indigo-text"></i>
        </div>
        <div class="col-10">
            <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Capabilities</h5>
            <p class="grey-text text-left">The Buffalo Group has developed a concept to horizon scan and identify new, potentially relevant and mission-impacting innovations.</p>
        </div>
    </div>
    <div class="row pb-2">
      <div class="col-2 col-md-1">
          <i class="fa fa-mail-forward fa-4 indigo-text"></i>
      </div>
      <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Technologies</h5>
          <p class="grey-text text-left">A broad audience across the Defense Intelligence Enterprise for game-changing capabilities, data, and services to enhance efficiency and economy of effort in support of new development activities.</p>
      </div>
  </div>
        <!-- <ul class="list list-feature">
          <li>
            <i class="fa fa-mail-forward fa-4 indigo-text"></i>
            <span
              >The mission of the Development and Enhancements for Enterprise
              Applications (DEEA) task order is to provide top notch agile
              development, sustainment, operations & maintenance, research &
              development, and innovation in support of the warfighter
              mission.</span
            >
          </li>
          <li>
            <i class="fa fa-check fa-4 fa-primary"></i>
            <span
              >The Buffalo Group has developed a concept to horizon scan and
              identify new, potentially relevant and mission-impacting
              innovations, which will allow a broad audience across the Defense
              Intelligence Enterprise, for game-changing capabilities, data, and
              services to enhance efficiency and economy of effort in support of
              new development activities.</span
            >
          </li>
          <li>
            <i class="fa fa-check fa-4 fa-primary"></i>
            <span
              >These solutions, capabilities, and technologies must align to 1.
              DIA’s Information Technology Roadmap, 2. DIA CIO’s Strategic
              Vision, and 3. must fall within the DEEA PWS Scope.</span
            >
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</section>

<div class="container section-3">
  <p>These solutions, capabilities, and technologies must align to 1. DIA’s Information Technology Roadmap, 2. DIA CIO’s Strategic Vision, and 3. must fall within the DEEA PWS Scope.</p>
  <p>
    Our contract’s innovation mandate allows an opportunity for industry to
    provide UNCLASSIFIED information about their innovative technologies and
    capabilities via the TBG “Scorecard” – provided below. There are multiple
    steps to submit to iDEEA:
  </p>
</div>
<app-steps></app-steps>
