.section-showcase{
    /* height:$showcase-height; */
    background: url(#{$img-path}/bg-image.jpg) no-repeat top center;
    background-size: cover;
}


.section-2 {
    background-color: #e4eef2;
    margin-top: -40px;
}
    .showcase-content {
        padding: 80px 15px 30px 15px;
        text-align: center;
    }

    .section-3 {
        background-color: #ffffff;
        font-size: 16px;
        letter-spacing: 1px !important; 
        /* //font-weight: 100 !important; */
        padding: 20px 0;
        text-align: left;
    }

    .section-4 {
        background-color: #e4eef2;
        font-size: 16px;
        letter-spacing: 1px !important; 
        /* //font-weight: 100 !important; */
        padding: 40px 0;
        text-align: left;
    }

    .section-5 {
        background-color: #333333;
        font-size: 18px;
        letter-spacing: 1px !important; 
        /* //font-weight: 100 !important; */
        padding: 40px 0;
        text-align: left;
    }


    .iDDEA-logo {
        width: 50% !important;
        margin: 40px 0 10px 20px;
    }

    .text-title{
        vertical-align: middle;
        padding-top: 0 !important;
        padding-bottom: 1% !important;
        margin-left: 60px;
    }
    
    .text-title h1 { 
        font-size: 45px !important; 
        font-weight: 620;
        line-height: 55px !important;
        letter-spacing: 2px !important; 
        text-align: left;
        text-shadow: 3px 2px 2px #000000;
      }

    .leed{
        font-size: 18px;
        letter-spacing: 1px !important; 
        /* //font-weight: 100 !important; */
        margin-left: 20px;
        padding: 0;
        text-align: left;
        /* color: #e4eef2; */
        font-style: italic;
    }

    .chief {
        margin-top: 0 !important;
        margin-left: 200px;
    }

    .quote { 
        font-size: 50px;
    }
    .page-header {
        padding-bottom: 9px;
        width: 25%;
        margin: 40px 50px 20px 0px;
        border-bottom: 2px solid #00aff0;
      }

    .heading-primary-a{
        color: #00aff0;
        
    }

    .em-primary {
        color: #0074d9;
    }

    @media only screen and (max-width: 768px) {
        .showcase-content{
            padding: 60px 0 20px 0;
            text-align: center;
        }
        /* .section-2 {
            margin-top: 5%;
        } */
        .iDDEA-logo {
            width: 60% !important;
            margin: 5% 0;
        }
        .leed{
            font-size: 14px;
            letter-spacing: 0px !important; 
            margin-left: 10px;
            padding: 0;
            }
    
        .chief {
            margin-top: 0 !important;
            margin-left: 40px;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
        }

        .section-3 {
            font-size: 16px;
            letter-spacing: 0px !important; 
            padding: 20px 15px;
        }
        h1{
            font-size: 22px;
            text-align: center;
            /* color:$primary-color; */
        }

        .text-title{
            vertical-align: middle;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0px;
        }
        
        .text-title h1 { 
            font-size: 30px !important; 
            font-weight: 420;
            line-height: 40px !important;
            letter-spacing: 0.3px !important; 
            text-align: center;
            text-shadow: 3px 2px 2px #000000;
          }

        
        .btn-resume-project{
            background: #ffffff;
            height: 50px !important;
            width: 150px !important;
            padding: 0 !important;
            /* //@include add-background($primary-color);
            @include add-border(2px, #ffffff, all); */
            border-radius: 5px;
        }
        
        .btn-resume-project-text{
            /* color:$dark-color; */
            font-weight: normal !important;
            font-size: 14px !important;
            font-family: Roboto;
            line-height: 5px;
            float: left;
            margin-top: 15 !important;
            margin-left: 0 !important;
            text-align: left !important;
        }
        
        .fa-7{
            margin-top: 15px !important;
            margin-left: 0 !important;
            font-size:25px !important;
            /* color:$light-color; */
            float: left !important;
        }

.btn-resume-project{
    background: #ffffff;
    height: 55px;
    width: 200px;
    padding: 0;
    /* //@include add-background($primary-color); */
    /* @include add-border(2px, #ffffff, all); */
    border-radius: 5px;
    text-align: center !important;
}

.btn-resume-project:hover{
    background:darken(#ffffff,10%) !important;
    /* @include add-border(2px, $primary-color, all); */
}

.fa-7{
    padding: 0 !important;
    margin: 5px 5px 0 25px !important;
    font-size:40px;
    /* color:$light-color; */
    float: left !important;
}

.btn-resume-project-text {
    /* color:$dark-color; */
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
    font-family: Roboto;
    line-height: 5px;
    float: left;
    margin-top: 25px;
    text-align: center !important;
}
    }

    /* Search box */
.search{
    width: 80%;
    padding: 80px 15px 30px 15px;
}

.fa {
    font-size: 62px;
    color: #0074d9 !important;
    margin-left: 8px;
    margin-top: -5px !important;
}
    h3{
        margin-top:0;
        padding-top:0;
    }

    input[type=search]{
        border:0;
        height: 50px;
        width: 70%;
        border: 2px solid #00aff0;
        font-size: 18px;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    button{
        border: 0;
        background: none;
        padding:0;
        vertical-align: top;
        margin-left: -5px;
    }


    .carousel img{
        padding:3px;
        /* @include add-border(1px, #cccccc, all); */
    }

    .fa-2{
        font-size:18px;
    }
    .fa-3{
        font-size:24px;
    }
    .fa-4{
        font-size:26px;
    }
    .fa-5{
        font-size:35px;
    }
    .fa-6{
        font-size:40px;
    }
    
    .fa-primary {
        /* color:$primary-color; */
        margin-top:10px !important;
    }

    .list{
        margin:0;
        list-style-type:none;
    }
    
    .list-feature {
        margin:0;
        padding:0;
        width:100%;
    }